/* colors */
/* primary */
$red                        : hsl(7, 99%, 70%); 
$yellow                     : hsl(51, 100%, 49%); 
$darkCyanFooter             : hsl(168, 34%, 41%); 
$darkBluePhotoText          : hsl(198, 62%, 26%); 
$cyanGraphicDesingText      : hsl(167, 40%, 24%); 

/* Neutral */
$white                      : hsl(0, 0%, 100%); 
$grayishBlue                : hsl(210, 4%, 67%); 
$darkGrayishBlue            : hsl(232, 10%, 55%);
$veryDarkGrayishBlue        : hsl(213, 9%, 39%);
$veryDarkDesaturedBlue      : hsl(212, 27%, 19%); 

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap');

/* Basic CSS Reset */
body {
    font-size: 18px; 
    height: 100%;
}

*, ::after, ::before {
    margin:     0;
    padding:    0;
    box-sizing: border-box;
}
a {
    color:$white;
    text-decoration: none;
    font-family: 'Barlow';
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}
li {
    list-style-type: none;
}

button {
    text-align: center;
    width: 100px;
    padding: 10px 10px;
    border-radius: 99990px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-left: 15px;
    color: black;
}